<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Virhe</title>
</head>

<body>
    <hgroup>
        <h1>Virhe!</h1>
        <h2>Tapahtui virhe pyynnön käsittelyn yhteydessä.</h2>
    </hgroup>
</body>

</html>