@{
    ViewBag.Title = "Tietoa projektista ja sovelluksesta";
}

<br />

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <div class="lead">        
        <p>
            Tämä sivusto on tehty näyttöprojektina "Ohjelmointi" tutkinto-osan (45 OSP) osaamisen todistamiseksi. Opiskelijat Mika H, Mattias B, sekä Mika T ovat etäyhteistyönä
            käyttäen GitHub-versionhallintatyökalua yhteistuumin suunnitelleet ja toteuttaneet konseptin esim. Careerian tuotehallintaa varten.
            Muita käytössä olleita työkaluja ovat mm. Microsoft Visual Studio, SSMS, Azure ja Google, sekä vallattomat intialaiset opetusvideot Youtuben videoavaruudessa.
        </p>
        
        <p>
            Lainausjärjestelmä(c) on tietokantasovellus, joka hakee tietonsa "LainausDB"-nimisestä tietokannasta, joka on siirretty Microsoft Azure palvelimelle.
            Sivustolle kirjautumalla voi tarjolla olevia tuotteita lainata ja käytön jälkeen palauttaa. Tämä tekee tuotteiden käyttäjäseurannasta vaivatonta ja helppoa.
            Kirjautumista ei vaadita pelkkään tuoteselailuun, eikä yhteystiedot-sivulle.
        </p>

        <p>
            Kun sivustolle on kirjautuneena Admin-tunnuksilla voi edellä mainitun lisäksi myös lisätä, päivittää ja poistaa tietoja, sekä hallinoida käyttäjiä.
        </p>       
    </div>
</div>