@{
    ViewBag.Title = "Tietoa projektista ja sovelluksesta";
}
<br />
<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <div class="lead">
        
        <p> Tämä sivusto on tehty näyttöprojektina "Ohjelmointi" (45osp) tutkinto-osan osaamisen todistamiseksi. Opiskelijat Mika H, Mika T sekä Mattias B ovat etäyhteistyönä käyttäen GitHub
            versionhallinta-työkalua yhteistuumin suunnitelleet ja toteuttaneet toimivan konseptin esim. Careerian tuotehallintaa varten.
            Muita työkaluja on Microsoftin VisualStudio, Azure, SQL:n SSMS paikallinen palvelin sekä vallattomat Intialaiset Googlen ja Youtuben ihanassa maailmassa.
        
            Lainausjärjestelmä(c) on tietokantasovellus, joka hakee tietonsa "Lainausjärjestelmä"-nimisestä tietokannasta,
            joka on siirretty Microsoft Azure palvelimelle.
        </p>
        
        <p>Sivustolle voi kirjautua jolloin tarjolla olevia tuotteita voi lainata ja käytön jälkeen palauttaa. Tämä tekee tuotteiden käyttäjäseurannasta vaivatonta ja helppoa.
            Kirjautumista ei vaadita pelkkään tuoteselailuun ja yhteystieto-sivulle.</p>
        <p>Kun on kirjautuneena Admin tunnuksilla voi tämän lisäksi myös lisätä, päivittää ja poistaa tietoja ja hallinoida käyttäjiä.</p>
       
    </div>

</div>