@{
    ViewBag.Title = "Yhteystiedot";
}

<br />

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <p class="lead">Sovelluksen tarjoaa  &raquo;</p>
    <address>
        <i>Fiktiivinen</i> <b>Mikatmat Oy</b><br />
        Hevosenkengänkatu 2<br />
        06100 Porvoo<br />
        <abbr title="Puhelin">Puhelin:</abbr>
        010 123 4567 (ma–pe klo 8–16)<br />
        Sähköposti: <a href="mailto:tuki@mikatmat.fi">tuki@mikatmat.fi</a><br />
        <br />
    </address>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.5033027864908!2d25.65139021624022!3d60.38736463278214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4691f5701c2a966b%3A0x7e490d8a5ed511ce!2sCareeria!5e0!3m2!1sfi!2sfi!4v1627743592747!5m2!1sfi!2sfi" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>