@using System.Globalization
@{
    ViewBag.Title = "Koti";
}
<br />
<div class="jumbotron">
    <h1>Tervetuloa tuotteiden lainausjärjestelmään.</h1>
    <p class="lead">Selaa lainattavia tuotteita, kirjaudu sisään lainataksesi.</p>
    <br />
    <p><a href="~/Tuotteet" class="btn btn-info btn">Selaa tuotteita &raquo;</a></p>
    <br />
    <p><a href="#" class="btn btn-primary btn">Kirjaudu &raquo;</a></p>
    <br />
</div>