@using System.Globalization

@{
    ViewBag.Title = "Koti";
}

<br />

<div class="jumbotron">
    <br />
    <h2>Olet kirjautunut sisään!</h2>
    <p class="lead">Selaa lainattavia tuotteita, lainaa tai palauta tuote.</p>
    <br />
    <p><a href="~/Tuotteet/Kuvat" class="btn btn-info">Selaa tuotteita</a></p>
    <br />
    <p><a href="~/Lainaukset/Create" class="btn btn-success">Lainaa tuote &nbsp;</a></p>
    <br />
    <p><a href="~/Lainaukset" class="btn btn-secondary">Palauta tuote</a></p>
    <br />
    <!--<br />-->

    @*//Uloskirjautumisnäppäin, disabloidaan?*@

    <!--<p><a href="/Home/Logout" class="btn btn-primary btn-sm">Kirjaudu ulos &raquo;</a></p>
    <br />-->
</div>